@model Library.ViewModels.AddBookViewModel

@{
}
<form method="post" action="Add">
    <div class="mb-3">
        <label for="" class="form-label">Title</label>
        <input type="text" class="form-control" asp-for="Title">        
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Description</label>
        <input type="text" class="form-control" asp-for="Description">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Authors</label>
        <input type="text" class="form-control" asp-for="Authors">
    </div>
    @*<div class="mb-3">
        <label for="" class="form-label">image cover</label>
        <input type="image" class="form-control" asp-for="imagecover">
    </div>*@

    <button type="submit" class="btn btn-primary">Submit</button>
</form>