@model Library.ViewModels.UpdateBookViewModel

@{
}

<h1>Edit this book</h1>
<form method="post" action="View">
    <input type="text" class="form-control" asp-for="Id">
    <div class="mb-3">
        <label for="" class="form-label">Title</label>
        <input type="text" class="form-control" asp-for="Title">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Description</label>
        <input type="text" class="form-control" asp-for="Description">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Authors</label>
        <input type="text" class="form-control" asp-for="Authors">
    </div>

    <button type="submit" class="btn btn-primary" asp-action="Edit" asp-controller="Books">Submit</button>
    <button type="submit" class="btn btn-danger" asp-action="Delete" asp-controller="Books">Delete</button>
</form>